@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
    scroll-behavior: smooth;
}

.container {
    display: flex;
    background-image: url("../imgs/bgimgmain.jpeg");
    padding: 40vh;
    background-size: cover;
    color: aliceblue;
    font-size: xx-large;
    font-weight: 600;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

.aboutus {
    padding: 40px;
    font-family: 'Montserrat', sans-serif;
}

.titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}