@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header {
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    height: 12vh;
}

.cadastro {
    display: flex;
    background-image: url("https://img2.goodfon.com/wallpaper/nbig/f/aa/soybean-soia-pole-plantatsiia-zelen-derevia-tuman-utro-rassv.jpg");
    padding: 20vh;
    background-size: cover;
    color: aliceblue;
    font-size: xx-large;
    font-weight: 600;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}

.cadastro {
    display: flex;
    background-color: white;

}

.caixa-formulario p {
    margin-top: 20px;
    color: black;
    font-size: small;
}

.logo {
    padding: 0;
    margin: 0;
    max-width: 100px;
}

.menu-navegacao {
    margin: 0;
    display: flex;
    gap: 50px;
}

.tracinho {
    cursor: auto;
    font-size: large;
    text-decoration: none;
    color: aliceblue;
}

.menu-navegacao-item {
    font-weight: 600;
    font-size: 15px;
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;
    justify-content: space-around;
}

.menu-navegacao-item:hover {
    opacity: 0.50;
    animation-delay: 5ms;
    color: yellow;
    border-radius: 10px;
}

/* cadastro do site */

.banner {
    background-image: url("./assets/img/bg-jelly-fish-para_outras_pags.png");
    padding: 100px 0;
    background-size: cover;
    height: 95vh;
}

.banner .container {
    justify-content: center;
    align-items: center;
    height: 20%;
}

.caixa-formulario {
    background-color: rgb(245, 236, 236);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: -215px; 
    width: 500px;
    height: 500;
    margin-top: -195px;
   
    
    
}

.caixa-formulario span {
    color: rgba(28, 60, 89, 1);
    margin-bottom: 35px;
    /* text-transform: uppercase; */
    align-items: none;
    margin: 30px;

}


.caixa-formulario .campo {
    display: flex;
    flex-direction: column;
    align-items: row;
    justify-content: flex-start;
    width: 30vw;
   
}

.caixa-formulario .campo label {
    color: rgba(28, 60, 89, 1);
    font-size: 15px;
    padding: 12px 0;
    margin-left: 15px;
  margin-top: 16px;
    margin-bottom: -20px;
}

.caixa-formulario .campo input {
    padding: 15px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    border-bottom: 2px solid #32b9cd;
    width: 90%;
    outline: none;
    transition: 0.8s ease-in-out;
    margin-left: 15px;
    
}

.caixa-formulario .campo input:hover {
    border: none;
    border-bottom: 2px solid green;
    -webkit-transform: scale(1.08);
    -ms-transform: scale(1.08);
    transform: scale(1.08);
}


.caixa-formulario button {
    margin: 20px 0;
    width: 30%;
    color: #fff;
    background-color: rgba(28, 60, 89, 1);
    padding: 0px 20px;
    font-weight: bold;
    border: none;
    border-radius:30px;
    cursor: pointer;
    transition: 0.8s ease-in-out;
    height: 4vh;

}

.caixa-formulario button:hover {
    opacity: 50%;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.75);
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.botao_cadastro{
margin-top: 20px;
}

 .caixa-formulario .texto_login{
margin-top:  -5px;
margin-bottom: 20px;

}


.logo_site {

    height: 30vw;
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;


}



footer {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;

}

/*rodape*/
.rodape {
    margin: 20px;
    display: flex;
    gap: 30px;

}

.container-rodape {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.rodape-item {
    color: aliceblue;
    font-size: 10px;
}

.asft {
    color: aliceblue;
    margin: 20px;
    font-size: 10px;
}

/*contato*/

.div-contato {
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 90%;
}

.contato {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.contato-paragrafo {
    display: flex;
    justify-content: center;
    margin: 15px;
}

.contato-logo {
    max-width: 20px;
}

.texto {
    color: aliceblue;
}

.assistencia {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.assistencia-texto {
    color: aliceblue;
}