@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.container {
    padding: 50vh;
    background-size: cover;
    width: 60%;
    height: 500px;
    background-color: blue;
    margin-right: 120px;
    margin-top: 70px;

    }

    .imagem_perfil{
        margin-left: 20px;
        width : 90px;
        height: 90px;
        border-radius: 100%;
    }

    .container2 {
        background-size: cover;
        width: 300px;
        height: 800px;
        background-color: rgb(0, 0, 0);
        color: rgb(253, 253, 253);
        }

    main{
        display: flex;
        justify-content: space-between;
        background-image: url("https://img2.goodfon.com/wallpaper/nbig/f/aa/soybean-soia-pole-plantatsiia-zelen-derevia-tuman-utro-rassv.jpg");
        background-size: cover;
    }