@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    width: 100%;
}

.logo {
    padding: 0;
    margin: 0;
    max-width: 100px;
}

.menu-navegacao {
    margin: 0;
    display: flex;
    gap: 50px;
}

.tracinho {
    cursor: auto;
    font-size: large;
    text-decoration: none;
    color: aliceblue;
}

.menu-navegacao-item {
    font-weight: 600;
    font-size: 15px;
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;
    justify-content: space-around;
}

.menu-navegacao-item:hover {
    opacity: 0.50;
    animation-delay: 5ms;
    color: yellow;
    border-radius: 10px;
}

footer {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
/*rodape*/
.rodape {
    margin: 20px;
    display: flex;
    gap: 30px;

}

.container-rodape {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.rodape-item {
    color: aliceblue;
    font-size: 10px;
}

.asft {
    color: aliceblue;
    margin: 20px;
    font-size: 10px;
}

/*contato*/

.div-contato {
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 90%;
}

.contato {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.contato-paragrafo {
    display: flex;
    justify-content: center;
    margin: 15px;
}

.contato-logo {
    max-width: 20px;
}

.texto {
    color: aliceblue;
}

/* DIV DE SUGESTÕES E LAMENTAÇÕES */

.assistencia {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.assistencia-texto {
    color: aliceblue;
}

.textinho {
    margin: 8px;
    color: aliceblue;
}

.input_assist {
    border-radius: 15px;
    height: 25px;
    font-family: 'Montserrat', sans-serif;    
    width: 220px;
    text-align: center;
}

.botao-assist {
    color: black;
    background-color: aliceblue;
    border-radius: 15px;
    padding: 3px;
    margin: 20px 5px;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    width: 100px;
    font-family: 'Montserrat', sans-serif;  
    font-weight: 800;
}

.botao-assist:hover {
    background-color: chartreuse;
    opacity: 70%;
}