@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;400;500;600;700;800;900&family=Roboto:wght@300&display=swap');

.container {
    background-size: cover;
    width: 300px;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(253, 253, 253);
    align-items: center;
    font-family: 'Barlow', sans-serif;
    border-color: black;
    border-width: 2px;
    border-right-style: groove;
}

.container2 {
    width: 100%;
    height: 91vh;
  justify-content: space-evenly;
    display: flex;
   
   
  


}
/* Caixa de EXIBIÇÃO DE MEDIDAS */
.dash {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 95%;
    
 
    align-items: center;
  


}

.setores_gerais{

    display: flex;
    flex-direction: row;
    align-items:flex-start;
    height: 30vh;
    width: 90%;
    text-align: center;
  

    
}



/* HECTARE ATUAL */

.hectare_atual{

    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    margin-top: 3vh;
    width: 90%;
    height: 16.8%;
    display: flex;
   align-items: center;
   flex-direction: row;
   justify-content:center;
  border-radius: 10px;
  font-size: 40px;
  
}
/* Caixar dos setores */
.setor1 {
    width:90%;
    height: 100%;
    margin-top: 2vh;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    margin-right: 1vw;
    margin-bottom: 10vh;

}

.setor2 {
    width: 90%;
    height: 100%;
    margin-top: 2vh;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
  

}



.legenda{
    background-color:rgba(0, 0, 0, 0.7);
    color: #fff;
    width: 90%;
    height: 50vh;
    border-radius: 20px;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 3vh;
}





/* Caixa dos botoes hectares */
.hectar_botoes_dash {
    margin-top: 3vh;
    width: 30%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7); 
    flex-direction: column;
    border-top-right-radius: 15px ;
    border-bottom-right-radius: 10px ;
}


/* estilização padrao dos botoes hectare*/
.botoes_hactare {
    color: rgb(255, 255, 255);
    background-color: rgba(0, 36, 12, 0.8);
    font-weight: bold;
    border: none;
    border-radius: 10%;;
    padding: 30px;
    cursor: pointer;
    width: 150px;
    height: 20%;
    font-size: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;


}

.botoes_hactare:hover {
    color: rgb(255, 255, 255);
    opacity: 80%;
    background-color: rgba(0, 36, 12, 0.8);
    box-shadow: 3px 3px 3px rgb(255, 255, 255);
    text-shadow: none;
}







main {
    display: flex;
    justify-content: space-between;
    background-image: url("https://img2.goodfon.com/wallpaper/nbig/f/aa/soybean-soia-pole-plantatsiia-zelen-derevia-tuman-utro-rassv.jpg");
    background-size: cover;
  
}

.titulo_usuario {
    display: flex;
    justify-content: center;
    margin-top: 15%;
    margin-bottom: 20%;
}

.nome_usuario {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 15%;
    font-size: 15px;

}


.imagem_usuario {
    border-radius: 100%;
    width: 7.5vw;
    height: 15vh;
    margin-left: 5.3vw;
    margin-bottom: 3vh;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-style: groove;
}

.botoes_principais {
    display: flex;
    justify-content: center;
    color: #fff;
    background-color: darkolivegreen;
    padding: 10px 0px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 120px;
    margin: 3vh;
    margin-bottom: 1vh;
}

.botoes_principais:hover {
    color: rgb(255, 255, 255);
    opacity: 80%;
    background-color: darkolivegreen;
}

.botao_sair:hover {
    color: rgb(255, 255, 255);
    opacity: 80%;
}

.botao_sair {
    display: flex;
    justify-content: center;
    color: #fff;
    background-color: #460404;
    ;
    padding: 10px 0px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 120px;
    margin: 3vh;
    margin-top: 3.5vh;
}

.div_botoes {
    display: grid;
    text-align: center;
    align-items: center;
    justify-content: center;



}
/* ESTILIZAÇÃO DOS GRAFICOS */
.grafico_dash{
    scale: 1;
    
}

.grafico_dash2{
    scale:1;
}
